<!DOCTYPE html>
<html ng-app="example">
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Type a letter or two, we will search for your location </title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- Required dependencies -->
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
    <script src="lib/angular/angular.js"></script>

    <!-- Google Places Autocomplete directive -->
	<link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/ngCordova/dist/ng-cordova.js"></script></head>
    <script src="cordova.js"></script>
    <script src="js/app.js"></script>
    <script src="js/autocomplete.js"></script>

    <script>
        angular.module('example', ['google.places'])

                // Setup a basic controller with a scope variable 'place'
                .controller('MainCtrl', function ($scope) {
                    $scope.place = null;
                });
    </script>
</head>
<body ng-controller="MainCtrl">
<<ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Search for places and share</h1>
      </ion-header-bar>
      <ion-content class="padding" ng-controller="ShareCtrl">
	  <h4>Type a letter or two, we will search places for you</h4>
         
        <ion-list>
		<form class="form">
                <input class="form-control" g-places-autocomplete="" ng-model="place">
            </form>
			<br>
			<br>
          <ion-item><button class="button button-full button-outline button-positive" ng-click="share()">Share your message or location</button></ion-item>
		</ion-list>
      </ion-content>
    </ion-pane>
			
</body>
</html>